@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Asap&family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300;1,300&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a{
  text-decoration: none;
  color: purple;
}
header, .container, nav, div {
  width: 100%;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}
header{
  position: fixed;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  background: white;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  display: inline;
}

.navbar li{
  display: inline-block;
  padding: 0 20px;
}
.active{
  border-bottom: 1px solid white;
}
main {
  margin-top: 80px;
}

button{
  display: block;
  margin: 10px;
  padding: 10px;
}

.blog-list {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(minmax(auto));
  grid-gap: 15px;
}
a:hover,.blog:hover{
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
h2, p{
  padding: 10px;
}

input, textarea{
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(179, 177, 177, 0.863);
  border-radius: 5px;
}

.form-element {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(minmax(auto));
  grid-gap: 5px;
  font-size: 14px;
  margin: 10px 0;
}
label {
  grid-column: 1/13;
  align-self: flex-start;
  padding: 10px;
  font-weight: bolder;
}
input, textarea {
  grid-column: 1/13;
}